<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet/less" href="../style/reset.less">
    <link rel="stylesheet/less" href="../style/slide.less">
    <link rel="stylesheet/less" href="../style/index.less">
</head>
<body>
    <header>
        <div class="banner">

            <div id="slideCLass" class="slide-carousel slide-class">
                <ul id="itemList" class="item-list">
                    <li class="item0">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner1.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item1">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner2.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item2">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner3.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item3">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner4.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item4">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner5.jpg" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
                <!--indicators-->
                <div class="indicator-list">
                    <a href="javascript:void(0);" data-slide-index="0" class="selected"></a>
                    <a href="javascript:void(0);" data-slide-index="1"></a>
                    <a href="javascript:void(0);" data-slide-index="2"></a>
                    <a href="javascript:void(0);" data-slide-index="3"></a>
                    <a href="javascript:void(0);" data-slide-index="4"></a>
                </div>
                <!--controls-->
                <div class="controls">
                    <a  class="item-prev glyphicon glyphicon-menu-left" href="javascript:void(0);"></a>
                    <a  class="item-next glyphicon glyphicon-menu-right" href="javascript:void(0);"></a>
                </div>

            </div>


            <div id="slideTab"  class="slide-carousel slide-tab">
                <ul  class="item-list clearfix" style="width:7200px;margin-left: 0px;"
                    translateX="-1200" itemWidth="1200" index="0">
                    <li class="item-repeat">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner4.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner1.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner2.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner3.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner4.jpg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="item-repeat">
                        <div class="item-content">
                            <a href="javascript:void(0);">
                                <img class="cover-img" src="../image/banner1.jpg" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
                <!--indicators-->
                <div class="indicator-list">
                    <a href="javascript:void(0);" data-slide-index="0" class="selected"></a>
                    <a href="javascript:void(0);" data-slide-index="1"></a>
                    <a href="javascript:void(0);" data-slide-index="2"></a>
                    <a href="javascript:void(0);" data-slide-index="3"></a>
                </div>
                <!--controls-->
                <div class="controls">
                    <a  class="item-prev glyphicon glyphicon-menu-left" href="javascript:void(0);"></a>
                    <a  class="item-next glyphicon glyphicon-menu-right" href="javascript:void(0);"></a>
                </div>
            </div>

        </div>
    </header>

</body>
</html>
<script src="../lib/js/jquery.min.js"></script>
<script src="../lib/js/less.2.7.2.min.js"></script>
<script src="../js/common/slide.js"></script>
<script src="../js/index/index.js"></script>